:root {
  /* colour variables (solarized) */
  --colour-base03:    #002b36;
  --colour-base02:    #073642;
  --colour-base01:    #586e75;
  --colour-base00:    #657b83;
  --colour-base0:     #839496;
  --colour-base1:     #93a1a1;
  --colour-base2:     #eee8d5;
  --colour-base3:     #fdf6e3;
  --colour-yellow:    #b58900;
  --colour-orange:    #cb4b16;
  --colour-red:       #dc322f;
  --colour-magenta:   #d33682;
  --colour-violet:    #6c71c4;
  --colour-blue:      #268bd2;
  --colour-cyan:      #2aa198;
  --colour-green:     #859900;
}

body {
  font-family: 'VT323', monospace;
  background-color: var(--colour-base03);
}

.App {
  margin-left: 1em;
}

.Playlist img {
  width: 8em;
  height: 8em;
}

.Player {
  color: var(--colour-green);
  display: inline;
}

.Player-Note {
  color: var(--colour-orange);
}

.InvalidSession {
  font-size: 2em;
  color: var(--colour-base00);
}

.InvalidSession-password {
  color: var(--colour-red);
}

.PlaylistCategory-Title {
  color: var(--colour-red);
  margin: .5em 0px 0px 0px;
  font-weight: normal;
}

.PlaylistCategory-Folder {
  float: left;
  color: var(--colour-red);

  user-select: none;
}

.Playlist {
  margin: 0px 0px 0px 0px;
}

.Playlist-Title {
  margin: 0px 0px 0px 0px;
  padding-left: 1em;
}

.Playlist a {
  color: var(--colour-base00);
  text-decoration: none;
}


.PlayerBar {
  position: fixed;
  background-color: var(--colour-base02);

  bottom: 0%;
  left: 0%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.Player a {
  color: var(--colour-cyan);
  padding-left: .5em;
  padding-bottom: 1em;
  text-decoration: none;
}

.Player-PopUp {
  display: inline;
}

.Player-SkipButton {
  color: var(--colour-yellow);
  background-color: var(--colour-base01);
  background: none;
  border: none;
}

.Player-PopUpButton {
  color: var(--colour-yellow);
  background-color: var(--colour-base01);
  background: none;
  border: none;
}


.Player-PopUpButton:focus {
  outline: var(--colour-cyan) auto 1px;
}

.Player-PopUpContent {
  position: absolute;

  bottom: 1em;
  right: 1em;

  background-color: var(--colour-base02);
  min-width: 160px;
  z-index: 1;
  
  max-width: 20em;
  max-height: 40em;
}
